/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 25px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.main-nav-links {
  margin: 0 10px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}